.mainwrapper
    .mainlogo
        .wrapper 
            .logo
                a(href="#")
                    img(src="https://raw.githubusercontent.com/OleksandrIsaev/misocial/master/src/img/symbol.png", alt="logo") 
                    | MISOCIAL 
            .misocial
                .menu
                    ul  
                        li
                            a(href="#") Home
                        li
                            a(href="#") Why MISOCIAL 
                        li
                            a(href="#") Features  
                        li
                            a(href="#") Articles  
                        li
                            a(href="#") Pricing
                .started
                    label
                        input(type="submit" value="get started ")
        .social 
            p social marketing & analityks 
            h1
                a(href="#") Pricing Table
            i Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt ut.
        .arrow
            a(href="#space") 
                img(src="https://raw.githubusercontent.com/OleksandrIsaev/misocial/master/src/img/arrow.png", alt="arrow")
    .select 
        p misocial
        h2 Select a Plan
        i Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt ut.
    .personal 
        .space
            a(href="#") 
                img(src="https://raw.githubusercontent.com/OleksandrIsaev/misocial/master/src/img/space.png", id="space" alt="space")
            i personal
            b <sup>$</sup>0<span>/month
            p Lorem ipsum dolor sit amet. <br>sed do eiusmod tempor incididunt ut. <br>Labore et dolore magna aliqua.<br>quis nostrud exercitation ullamco laboris.<br>Ea commodo consequat.
            input(type="submit" value="select plan")    
        .space 
            a(href="#") 
                img(src="https://raw.githubusercontent.com/OleksandrIsaev/misocial/master/src/img/robot.png", alt="robot")   
            i personal
            b <sup>$</sup>29<span>/month
            p Lorem ipsum dolor sit amet. <br>sed do eiusmod tempor incididunt ut. <br>Labore et dolore magna aliqua.<br>quis nostrud exercitation ullamco laboris.<br>Ea commodo consequat.
            input(type="submit" value="select plan")
        .space
            a(href="#") 
                img(src="https://raw.githubusercontent.com/OleksandrIsaev/misocial/master/src/img/ship.png", alt="ship")
            i personal
            b <sup>$</sup>49<span>/month
            p Lorem ipsum dolor sit amet. <br>sed do eiusmod tempor incididunt ut. <br>Labore et dolore magna aliqua.<br>quis nostrud exercitation ullamco laboris.<br>Ea commodo consequat.
            input(type="submit" value="select plan")
    .footer 
        p socal marketing & analytics
        h1 Take control of your data
        label 
            input(type="submit" value="get started")
        label
            input(type="submit" value="explore features")
    .theend
        .finish
            a(href="#")
                img(src="https://raw.githubusercontent.com/OleksandrIsaev/misocial/master/src/img/symbol.png", alt="logo") 
                | MISOCIAL 
            .botomend 
                ul 
                    li
                        a(href="#") Home
                    li
                        a(href="#") Why MISOCIAL 
                    li
                        a(href="#") Features  
                    li
                        a(href="#") Articles  
                    li
                        a(href="#") Pricing
                    label 
                        input(type="submit" value="get started")
    .bottom 
        p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
    .webs
        a.face(href="#") 
        a.twit(href="#") 
        a.goog(href="#") 
        a.inst(href="#") 



